html {
    scroll-behavior: smooth;
}


article {
    width: 700px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

body {
    background-color: rgb(53, 94, 51);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    background-image: url('../images/backphoto.jpg');
    min-height: 100%;
}

p {
    line-height: 1.5em;
}

h1, h2 {
    text-align: center;
    font-family: cursive;
    font-size: 2em;
    background-color: rgb(142, 201, 126);
    padding: 10px;
    color: rgba(197, 2, 2, 0.999)
}

h1 {
    color: rgba(197, 2, 2, 0.999);
}

a:visited {
    color: red;
}