html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(134, 209, 221);
    color: black;
    background-image: url('images/portfolioback.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat";
    font-weight: 350;
    line-height: 1.4em;
}



article {
    width: 700px;
    margin: auto;
    background-color: white;
    padding: 20px;
}


p {
    line-height: 1.5em;
}

h1, h2 {
    text-align: center;
    font-family: cursive;
    font-size: 2em;
    background-color: rgb(158, 192, 198);
    padding: 15px;
}

.icon-row {
    color: goldenrod;
    position: absolute;
    left: 50;
    top: 16%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    width: 48%;
}

.container {
    float: left;
  }

