html {
    scroll-behavior: smooth;
}

article {
    width: 700px;
    margin: auto;
    background-color: white;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75);

}

body {
    background-color: rgb(134, 209, 221);
    color: black;
    background-image: url('/images/backone.jpg');
    font-family: "Montserrat";
    background-color: rgba(255, 255, 255, 0.75);
}

p {
    line-height: 1.5em;
}

h1, h2 {
    text-align: center;
    font-family: "Montserrat";
    font-size: 2em;
    background-color: rgb(158, 192, 198);
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: cursive;
    background: rgb(235,238,238);
    background: rgb(70,124,124);
    background: linear-gradient(153deg, rgba(70,124,124,1) 2%, rgba(158,192,198,1) 51%, rgba(134,209,221,1) 100%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img {
    width: 100%;
    height: var(--hero);
    object-fit: cover;
  }

  nav {
    padding: 0px;
  }