html {
    scroll-behavior: smooth;
}


article {
    width: auto;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75);
}

main {
    max-width: 760px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px 5px rgba(69,122,130,1);
}

body {
    color: black;
    background-image: url('/images/backdark.jpg');
    font-family: "Montserrat";
    font-weight: 300;
    font-optical-sizing: auto;
    background-color: rgba(255, 255, 255, 0.75);
}


h1 {
    text-align: center;
    font-family: "Montserrat";
    font-size: 2em;
    padding: 10px;
}

p {
    margin: 10px;
    line-height: 1.5em;
    background-color: rgba(255, 255, 255, 0.75);
}

header {
    text-align: center;
    font-family: cursive;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img {
    height: var(--hero);
    background-color: rgba(255, 255, 255, 0.75);
  }

  nav {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0px;
  }

  ul, li, a {
    background-color: rgba(255, 255, 255, 0.75);
  }